{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12">

    {% for task in tasks %}

    <div class="alert alert-danger alert-dismissible fade show " role="alert">
      <strong>{{ task.title }}</strong> {{ task.body }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">{{ task.title }}</h4>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>{{ task.body }}</p>
      <hr>
      <p class="mb-0">Когда необходимо, используйте марджины для создания необходимых отступов.</p>
    </div>
    
    {% endfor %}

    <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">№Заказа</th>
          <th scope="col">Принял устройство</th>
          <th scope="col">Статус</th>
          <th scope="col">Тип устройства</th>
          <th scope="col">Фирма изготовитель</th>
          <th scope="col">Модель устройства</th>
          <th scope="col">Неисправность</th>
          <th scope="col">Клиент</th>
          <th scope="col">Номер телефона</th>
          <th scope="col">Цена ремонта</th>
        </tr>
      </thead>
      {% for post in posts %}
      <tbody>
        <tr>
          <th scope="row"><a href="{% url 'post_detail_url' pk=post.pk %}">
              {% if post.shop %}
                 {{ post.shop.servis_name.0 }}{{ post.shop.servis_name.1 }}{{ post.shop.servis_name.2 }}: {{ post.id }}
              {% endif %}</a></th>
          <th>{{ post.author }}      </th>
          <th>{{ post.status }}      </th>
          <th>{{ post.model_Type }}  </th>
          <th>{{ post.firma }}       </th>
          <th>{{ post.model_devie }}      </th>
          <th>{{ post.Error_type }}  </th>
          <th>{{ post.pk }}       </th>
          <th>{{ post.pk }}    </th>
          <th>{{ post.Cost }}        </th>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    </div>
</div> 
{% endblock %}

